body {
  font-family: "Roboto", sans-serif;
  background-color: #232339;
  color: #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
}

aside {
  background-image: linear-gradient(to right, #252642, #425065);
  padding: 20px;
}

.picture-container {
  display: flex;
  justify-content: start;
}

.picture {
  border-radius: 50%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #e2e6ee;
}

.job {
  font-size: 20px;
  background: linear-gradient(90deg, #a478e8 0%, #516cf7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 8px 0 16px 0;
}

.divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #e2e6ee, #ccc);
}

.infos {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-around;
}

.info-type {
  color: #acb1c3;
  margin: 0 auto;
  font-size: 14px;
}

.info-content {
  color: #d9dfe8;
  margin: 0 auto;
}

main {
  padding: 20px 40px;
}

.section-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 24px;
}

.work-experience {
  height: 100%;
  padding: 16px 12px 6px 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 12px;
  background-color: #2e2e48;
  display: flex;
}

.current {
  background-color: #312163;
}

.logo {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05));
  border-radius: 5px;
}

.job-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}

.job-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
  color: #e2e6ee;
  margin-top: 0;
  margin-bottom: 2px;
}

.job-duration {
  font-size: 14px;
  font-weight: 500;
  color: #acb1c3;
  margin-top: 2px;
  margin-bottom: 8px;
}

.company {
  font-size: 16px;
  font-weight: 500;
  color: #acb1c3;
  margin-top: 0;
  margin-bottom: 8px;
}

.course-container {
  height: 100%;
  padding: 16px 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #2e2e48;
  display: flex;
}

.course-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
  color: #e2e6ee;
  margin-top: 0;
  margin-bottom: 8px;
}

.course-university {
  font-size: 18px;
  font-weight: 500;
  color: #acb1c3;
  margin-top: 0;
  margin-bottom: 8px;
}

.course-duration {
  font-size: 14px;
  font-weight: 500;
  color: #acb1c3;
  margin: 0;
}

.skill-box {
  color: #95aafb;
  font-size: 20px;
  text-align: center;
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px;
  padding: 4px 0;
}
.skill {
  background: #2e2e48;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill.top-left {
  border-radius: 8px 0px 0px 0px;
}

.skill.top-right {
  border-radius: 0px 8px 0px 0px;
}

.skill.bottom-left {
  border-radius: 0px 0px 0px 8px;
}

.skill.bottom-right {
  border-radius: 0px 0px 8px 0px;
}

.languages-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
  color: #c696fc;
  gap: 12px;
}

.language {
  background: #2e2e48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 6px 0;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.language-title {
  margin-top: 4px;
  margin-bottom: 8px;
}

.language.left {
  border-radius: 8px 0px 0px 8px;
}

.language.right {
  border-radius: 0px 8px 8px 0px;
}

.language-level {
  color: #acb1c3;
  margin: 4px auto;
  font-size: 16px;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .picture-container {
    justify-content: center;
  }

  .intro {
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 28px;
  }

  .skill-box {
    font-size: 15px;
    gap: 4px;
    padding: 2px 0;
  }

  .skill {
    padding: 2px 6px;
  }
}
